@using System.Runtime.CompilerServices
@model IEnumerable<MovieData.MovieBasics>

@{
    ViewBag.Title = "Most popular movies";
}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    <i class="fa fa-film"></i> Movie News
                </h1>
                <p>
                    Get the latest movie news using most popular feed from Netflix
                    with cast details from The Movie Database
                    and reviews from the New York Times.
                    Powered by ASP.NET and F# Data type providers for XML and JSON
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container main">
    <div class="row">
        @{ var counter = 1; }
        <div class="col-md-6">
            <ul>
                @foreach (var movie in Model.Take(10))
                {
                    <li>
                        <h2>
                            #@(counter++)
                            <a href="details/@Uri.EscapeDataString(movie.Title)">
                                @movie.Title
                            </a>
                        </h2>
                        @if (movie.Thumbnail != null)
                        {
                            <img src="@movie.Thumbnail.Value"/>
                        }
                        <p>@movie.Summary</p>
                    </li>
                }
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                @foreach (var movie in Model.Skip(10))
                {
                    <li>
                        <h2>
                            #@(counter++)
                            <a href="Details/@Uri.EscapeDataString(movie.Title)">
                                @movie.Title
                            </a>
                        </h2>
                        @if (movie.Thumbnail != null)
                        {
                            <img src="@movie.Thumbnail.Value" />
                        }
                        <p>@movie.Summary</p>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>